@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("line-seed-sans-th-thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("line-seed-sans-th-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("line-seed-sans-th-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("line-seed-sans-th-extrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed Sans TH";
  src: url("line-seed-sans-th-heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
